name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '*'

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Conda environment with Micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-name: bqplot-gl-test
        environment-file: test-environment.yml
        channels: conda-forge

    - name: Install bqplot
      run: pip install --pre bqplot

    - name: Install bqplot-gl
      run: pip install . -vvv

    - name: Test installation files
      run: |
        test -d $CONDA_PREFIX/share/jupyter/nbextensions/bqplot-gl
        test -f $CONDA_PREFIX/share/jupyter/nbextensions/bqplot-gl/extension.js
        test -f $CONDA_PREFIX/share/jupyter/nbextensions/bqplot-gl/index.js
        test -d $CONDA_PREFIX/share/jupyter/labextensions/bqplot-gl
        test -f $CONDA_PREFIX/share/jupyter/labextensions/bqplot-gl/package.json
        test -d $CONDA_PREFIX/share/jupyter/labextensions/bqplot-gl/static

    - name: Validate the nbextension
      run: jupyter nbextension list 2>&1 | grep "bqplot-gl/extension"

    - name: Validate the labextension
      run: jupyter labextension list 2>&1 | grep bqplot-gl

    - name: Python PEP8 check
      run: flake8 bqplot_gl --ignore=E501,W504,W503

    - name: JavaScript prettyfier
      run: jlpm run prettier:check

    - name: Build Python package
      run: python -m build

    - name: Upload builds
      uses: actions/upload-artifact@v4
      with:
        name: dist ${{ github.run_number }}
        path: ./dist

  visual-regression-tests:
    runs-on: ubuntu-latest
    needs: [build]

    strategy:
      fail-fast: false

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-name: bqplot-gl-test
          environment-file: test-environment.yml
          channels: conda-forge

      - uses: actions/download-artifact@v4
        with:
          name: dist ${{ github.run_number }}
          path: ./dist

      - name: Install the package
        run: |
          cd dist
          pip install -vv bqplot*.whl

      - name: Install dependencies
        shell: bash -l {0}
        working-directory: ui-tests
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: jlpm install

      - name: Set up browser cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/pw-browsers
          key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

      - name: Install browser
        shell: bash -l {0}
        run: npx playwright install chromium
        working-directory: ui-tests

      - name: Execute integration tests
        shell: bash -l {0}
        working-directory: ui-tests
        run: npx playwright test

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: bqplot-playwright-tests
          path: |
            ui-tests/test-results
            ui-tests/playwright-report
